.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header__logo{
    object-fit: contain;
    height: 40px;
}

.header__icon{
    padding: 20px;
}

/*Making the logo in the top spin*/
@media (prefers-reduced-motion: no-preference) {
    .header__logo {
        animation: Header-logo-spin infinite 20s linear;
    }
}
@keyframes Header-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}