.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header__logo{
    object-fit: contain;
    height: 80px;
}

.header__icon{
    padding: 20px;
}

/*Making the logo in the top spin*/
@media (prefers-reduced-motion: no-preference) {
    .header__logo {
        animation: Header-logo-spin infinite 20s linear;
    }
}
@keyframes Header-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ribbon-highlight{
    position:relative;
    margin:0.1em;
}
.ribbon-highlight:before{
    content:"";
    z-index:-1;
    left:-1.5em;
    top:0.1em;
    border-width:0.5em;
    border-style:solid;
    border-color:lightgreen;
    position:absolute;
    width:133%;
    border-left-color:transparent;
    border-right-color:transparent;
}