.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root{
    background-color: whitesmoke;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.swipeButtons__repeat{
    padding: 25px !important;
    /*color: #f5b7*/
    color: #f5b748 !important;

}

.swipeButtons__left{
    padding: 25px !important;
    color: #FF3B1C !important;
}

.swipeButtons__star {
    padding: 25px !important;
    color: #06D0F9 !important;
}

.swipeButtons__right {
    padding: 25px !important;
    color: #17DA7B !important;
}

.swipeButtons__lightning {
    padding: 25px !important;
    color: #700CE8 !important;
}
